<!DOCTYPE html>
<html>
  <head>
    <title>GeoJsonDemo</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
